@{
    ViewBag.Title = "邮箱验证";
}

<div style="margin-top:30px;margin-bottom:100px;">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <h2 style="font-family:YouYuan;font-weight:bold;">邮箱验证</h2>
    </div>
</div>

<div>
    <p style="margin-top:30px;margin-left:150px;font-family:YouYuan;">
        邮箱验证成功！ 请 @Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
