@{
    ViewBag.Title = "邮箱验证";
}
<div style="margin-top:30px;margin-bottom:100px;">
    <div class="col-md-1"></div>
    <div class="col-md-11">
        <h2 style="font-family:YouYuan;font-weight:bold;">邮箱验证</h2>
    </div>
</div>
<p style="margin-top:30px;margin-bottom:100px;font-family:YouYuan;">  
    @*class="text-info"*@
    请点击 <a href="@ViewBag.Link">链接</a> 验证邮箱
</p>
@*<p class="text-danger">
    For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    Please change this code to register an email service in IdentityConfig to send an email.
</p>*@
