@model MyWeiboProject202005061120.Models.Comments

@{
    ViewBag.Title = "发表评论";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>发表评论</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" style="font-family:YouYuan;font-size:18px;">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" style="width:500px;height:200px;" name="Body" id="Body"></textarea>
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submitButton" type="submit" value="发送" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<input type="button" onclick="javascript: window.history.go(-1);" value="返回" class="btn btn-primary" />
